.customForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    height: 100px;
}

.ui-selectonemenu.with-placeholder .ui-selectonemenu-label {
    color: #ccc;
}

.ui-selectonemenu-panel.hide-disabled .ui-selectonemenu-list-item.ui-state-disabled {
    display: none;
}

.navbar-brand {
    font-size: 1.5em;
    margin-right: 30px;
}

.navbarLinks > * {
    margin-right: 10px;
}

.batisLink {
    float: right !important;
}

.mainSection {
    margin-left: 30px;
}

div.addMakeDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.customForm {
    margin-top: 20px;
    margin-left: 30px;
}

form.customForm .btn {
    margin-top: 2.5em;
}

.customForm > * {
    margin-top: 1.5em;
}

.myCarsOl {
    margin-top: 30px;
}

.myCarsOl > li {
    margin-top: 1em;
}

.modsLabel {
    margin-bottom: 0;
}

.modsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}